<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FILEHEADER</key>
	<string>//
//  AppDelegate.swift
//  HealthApp
//
//  Created by ___FULLUSERNAME___ on 12/28/18.
//  Copyright © 2018 rlukedavis. All rights reserved.
//</string>
</dict>
</plist>
